body {
    background-color: #1a1a1a;
}

.navbar-brand {
    color: #e9e9e9f3;
    font-size: 27px;
}

.container {
    padding-top: 14vh;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.55);
}

.dropdown-item:hover {
    color: rgba(255, 255, 255, 0.653);
}

*::selection {
    color: rgb(27, 27, 27);
    background-color: #aab0ff;
}

#text {
    margin: auto;
    font-size: 20px;
    color: #e9e9e9e4;
}

#text h2 {
    color: #5479F7;
    font-size: 30px;
    margin-bottom: 25px;
}

.col img {
    max-width: 450px;
}

/**Scrollbar**/
body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: #84786B;

}

body::-webkit-scrollbar-thumb {
    background: #5479F7;
}

body::-webkit-scrollbar-thumb:hover {
    background: #aab0ff;
}

#edit img {
    transition: 80ms linear;
}

#edit img:hover {
    transform: scale(1.1);
}

#edit h1 {
    color: #5479F7;
    margin-bottom: 2vw;
}
#edit h2,
#areas h2 {
    color: #dfdfdf;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

#edit p,
#areas p {
    font-size: 19px;
    color: #dfdfdf;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    img.img-fluid {
        max-width: 34vh;
        margin-top: 20px;
    }

    .col p {
        font-size: 17px;
    }

    .container .row {
        margin-left: 9px;
        margin-right: 9px;
        margin-top: 25px;
    }

    #edit h1,
    #areas h1 {
        padding-bottom: 6vh;
    }

    #pet {
        display: none;
    }

    .container {
        padding-top: 58px;
    }
}

#areas img {
    width: 90px;
    transition: 90ms linear;
}

#areas img:hover {
    transform: scale(1.2);
}
#pet img{
    max-width: 30vh;
}
a {
    color: #5479F7;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #CADDFF;
}

a:active {
    text-decoration: none;
}
